<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <title>Bourdain FC</title>
    <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
    <script   src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script   src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>
    <link href="../static/css/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen"
          th:href="@{/css/bootstrap-3.3.4-dist/css/bootstrap.min.css}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css"></script>


    <link th:href="@{/css/custom.css}" rel="stylesheet" media="screen"/>



    <style th:remove="all">
        .jumbotron {
        .jumbotron {
            background: url('../static/images/bourdain.jpg') no-repeat center center;
            height: 350px;
            color: white;
            text-shadow: #444 0 1px 1px;
        }

        body {
            color: #2b3636;
            font-family: "Proxima";
        }

        body {
            color: #333;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857;
        }

        .row {
            margin-left: -15px;
            margin-right: -15px;
        }

        *::before, *::after {
            box-sizing: border-box;
        }

        *::before, *::after {
            box-sizing: border-box;
        }

        .view-directory .course-listing {
            background-color: rgba(255, 255, 255, 0.7);
        }

    </style>

</head>
<body>
<div class="container" th:replace="fragments/header :: header">
    <p>header</p>
</div>
<div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron">

</div>

<div class="container" sec:authorize="!isAuthenticated()">
    <div th:if="${not #lists.isEmpty(episodes)}">
        <h2>Episode List</h2>
        <table id="datatable_UA" class="table table-striped table-bordered toggle-circle-filled">
            <thead>
            <tr>
                <th>ID</th>
                <th>Season</th>
                <th>Episode Location</th>
                <th>Description</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="episode : ${episodes}">
                <td th:text="${episode.id}"><a href="/episode/${episode.id}">ID</a></td>
                <td th:text="${episode.season.seasonName}">Season</td>
                <td th:text="${episode.episodeName}">Episode Location</td>
                <td th:text="${episode.episodeDesc}">Description</td>
                <td><a th:href="${ '/episode/' + episode.id}">View</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script>
    $(document).ready(function() {
        $('#datatable_UA').DataTable( {
            "pagingType": "simple",
            "order": [[ 1, "asc", 2, "asc" ]]
        } );

    } );
</script>

<div class="container table-responsive" sec:authorize="hasRole('ROLE_USER')">
    <div th:if="${not #lists.isEmpty(episodes)}">
        <h2>Episode List</h2>
        <table id="datatable_User" class="table table-striped table-bordered toggle-circle-filled">
            <thead>
            <tr>
                <th>ID</th>
                <th>Season</th>
                <th>Episode Location</th>
                <th>Description</th>
                <th>View</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="episode : ${episodes}">
                <td th:text="${episode.id}"><a href="/episode/${episode.id}">ID</a></td>
                <td th:text="${episode.season.seasonName}">Season</td>
                <td th:text="${episode.episodeName}">Episode Location</td>
                <td th:text="${episode.episodeDesc}">Description</td>
                <td><a th:href="${ '/episode/' + episode.id}">View</a></td> 
            </tr>
            </tbody>
        </table>

    </div>
</div>

<script>
    $(document).ready(function() {
        $('#datatable_User').DataTable( {
            "pagingType": "simple",
            "order": [[ 1, "asc", 2, "asc" ]]
        } );

    } );
</script>

<div class="container table-responsive" sec:authorize="hasRole('ROLE_ADMIN')">
    <div th:if="${not #lists.isEmpty(episodes)}">
        <h2>Episode List</h2>
        <table id="datatable_Admin" class="table table-striped table-bordered toggle-circle-filled">
            <thead>
                <tr>
                <th>ID</th>
                <th>Season</th>
                <th>Episode Location</th>
                <th>Description</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="episode : ${episodes}">
                <td th:text="${episode.id}"><a href="/episode/${episode.id}">ID</a></td>
                <td th:text="${episode.season.seasonName}">Season</td>
                <td th:text="${episode.episodeName}">Episode Location</td>
                <td th:text="${episode.episodeDesc}">Description</td>
                <td><a th:href="${ '/episode/' + episode.id}">View</a></td>
                <td><a th:href="${'/episode/edit/' + episode.id}">Edit</a></td>
                <td><form action="#" th:action="@{'/delete/{id}'(id=${episode.id})}" th:method="delete" >
                        <input type="hidden" name="delete" value="delete" />
                        <button type="submit" id="submitButton">Delete</button>
                </form>  </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


<script>
$(document).ready(function() {
    $('#datatable_Admin').DataTable( {
    "pagingType": "simple",
        "order": [[ 1, "asc", 2, "asc" ]]
    } );

} );
</script>




<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>

</body>
</html>